<!doctype html>
<html lang="es-MX">

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ partial "header" . }}
</head>

<body id="top">
    <div class="container pt-4">
        {{ partial "menu" . }}

        <div class="container pt-3">            
            {{ block "main" . }}
            {{ end }}
        </div>        
        
        {{ partial "footer" . }}
    </div>

    {{ partial "scripts" . }}
</body>

</html>