<nav class="pt-1 pb-1 fixed-bottom navbar-expand-lg navbar-light bg-light">
    <div class="container">        
        <div class="row">
            <div class="col-12">
                <small class="d-flex flex-row-reverse">
                    <a href="/anunciar" style="text-decoration: none;">                         
                        <span class="badge bg-success">Anunciate ¡Gratis!</span>
                    </a> 
                </small>
            </div>
        </div>
    </div>
</nav>