{{ if .IsPage }} 
{{ range .Site.Params.content_pages_css -}}
<link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
{{ end }}


<!-- Site CSS -->
{{ range .Site.Params.always_on_css -}}
<link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}


<!-- RSS -->
{{ with .OutputFormats.Get "rss" -}}
{{ printf `
<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}


<title>{{ .Title }}</title>

<meta name="description" content="Proveedores Playa del Carmen">

<meta property="og:title" content="xPlaya" />
<meta property="og:description" content="Proveedores Playa del Carmen" />    
<meta property="og:type" content="website" />
<meta property="og:url" content="https://xplaya.com" />
<meta property="og:site_name" content="{{ .Title }}" />

<meta property="og:image" content="https://xplaya.com/img/palmera.jpg" />
<meta property="og:image:url" content="https://xplaya.com/img/palmera.jpg" />
<meta property="og:image:secure_url" content="https://xplaya.com/img/palmera.jpg" />
<meta property="og:image:type" content="" />
<meta property="og:image:width" content="520" />
<meta property="og:image:height" content="900" />
<meta property="og:image:alt" content="palmera.jpg" />

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="xplaya.com">
<meta property="twitter:url" content="https://xplaya.com">
<meta name="twitter:title" content="xPlaya">
<meta name="twitter:description" content="Proveedores Playa del Carmen">
<meta name="twitter:image" content="https://xplaya.com/img/palmera.jpg">

