{{ define "main" }}
<main>
    <h1>
        Directorio de servicios en Playa del Carmen
        <small class="text-muted">¡Anuncio Gratis!</small>
    </h1>
    <form class="d-flex" method="GET" action="{{"search"|absURL}}">
        <input id="search-query" name="s" class="form-control me-2" type="search" placeholder="Buscar" aria-label="search">
        <button class="btn btn-warning" type="submit">Buscar</button>
    </form>
    
    <h2 class="pt-4">
        Categorías
    </h2>
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4 g-2 pb-4">
        {{ range .Pages }}
        {{ if .IsSection }}
            {{ template "estado" . }}
        {{end}}
        {{end}}
    </div>
</main>
{{ end }}

{{ define "estado" }}
<div class="col">
    <div class="card" style="max-width: 32rem;">
        <div class="card-header">{{ .Title }}</div>
        <div class="card-body">
            <p class="card-text text-center">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </p>
        </div>
    </div>
</div>
{{end}}